.idea

EfExample/bin
EfExample/obj

WebApplication/bin
WebApplication/obj

TestExample/bin
TestExample/obj

QuartzAndEventStore/bin
QuartzAndEventStore/obj

QuartzAndEventWorkerService/bin
QuartzAndEventWorkerService/obj

EventStoreExample/bin
EventStoreExample/obj

QuartzExample/bin
QuartzExample/obj

ServiceBusCmd/bin
ServiceBusCmd/obj

QuartzAndServiceBusWorkerService/bin
QuartzAndServiceBusWorkerService/obj