.idea

EfExample/bin
EfExample/obj

WebApplication/bin
WebApplication/obj

TestExample/bin
TestExample/obj

QuartzAndEventStore/bin
QuartzAndEventStore/obj

QuartzAndEventWorkerService/bin
QuartzAndEventWorkerService/obj